  <!--<h3 class="page-header col15">Configuration Properties <button {{action "refresh"}} class="btn btn-default btn-right"> Refresh</button></h3>-->
  <h3 class="page-header col15">Configuration Properties <button class="btn btn-default btn-right"> Refresh</button></h3>


<div class='panel-body'>
  <div class="row">
    <h4 class="col15">Filter by:</h4>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Path</label> 
        <input type="text" [(ngModel)]="filter.path" class="form-control" name="path" placeholder="Enter configuration property path. Example: cps-ERX-WEG">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="filter.key" class="form-control" placeholder="Enter configuration property name. Example: days.expire">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Name matching options</label>
        <select [(ngModel)]="filter.options" class="form-control">
          <option *ngFor="let option of commonOptions">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <label></label>
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="filter.caseSensitive">Case sensitive when matching name
        </label>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="text-right col15">

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Common filter options <span class="caret"></span>
                </button>
          <ul class="dropdown-menu">
            <li><a (click)="selectSavedFilter('vendorLicense')">Vendor licenses</a></li>
            <li><a (click)="selectSavedFilter('selfCountLicense')">Self-directed PMS-level licenses</a></li>
            <li><a (click)="selectSavedFilter('selfMpsaLicense')">Self-directed MPSA-level licenses</a></li>
            <li><a (click)="selectSavedFilter('availableProgramTags')">Available program tags</a></li>
          </ul>
        </div>

        <!--<button class="btn btn-default" {{action "find"}} {{bind-attr disabled="canNotFind" }}>Find most specific value</button>-->
        <button class="btn btn-default">Find most specific value</button>

        <!--<button class="btn btn-primary" {{action "filter"}} {{bind-attr disabled="canNotFilter" }}>Filter</button>-->
        <button class="btn btn-primary" (click)="performSearch()">Filter</button>
      </div>
    </div>

    <div align="right" *ngIf="isLicenseTagEntry">
      <label>
        <h6>The three possible values for License Entry are <b>true, false, or Expiring Date(MM/DD/YYYY)</b>.</h6>
      </label>
    </div>
</div>

<div class='panel-body'>
  <div class="row">
    <div>
      <!--<h4 class="col15">Result: <button {{action "save"}} class="btn btn-default btn-right"> Save</button></h4>-->
      <h4 class="col15">Result: <button class="btn btn-default btn-right"> Save</button></h4>
    </div>
  </div>


  <div class="row">

    <div class="form-group col15" style="overflow:hidden;height:50vh">
      <app-item [tableData]="searchResults"></app-item>
    </div>

  </div>

  <div class="row">
    <div class="col15">
      <!--<button {{action "save"}} class="btn btn-default btn-right"> Save</button>-->
      <button class="btn btn-default btn-right"> Save</button>
    </div>
  </div>

</div>
