<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll"><img src="assets/images/mckesson_logo.png" alt="McKesson image"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="modal" data-target="#aboutModal">About</a></li>
        <li><a href="../login/close.html">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>